<main class="routerAreaMin">
  <h4>Flop Suggestion</h4>

  <h5>Suggestion List</h5>

  <ul class="list-unstyled">
    <li *ngFor="let suggestion of suggestions">{{ suggestion.title }}</li>
  </ul>

  <form
    autocomplete="off"
    #suggestionForm="ngForm"
    (ngSubmit)="addSuggestion(suggestionForm.value)"
  >
    <div class="form-group">
      <label for="flopname">Flop Name</label>
      <input
        name="title"
        type="text"
        class="form-control"
        id="flopname"
        ngModel
      />

      <label for="year">Year</label>
      <input name="year" type="text" class="form-control" id="year" ngModel />

      <label for="stars">Stars</label>
      <input name="stars" type="text" class="form-control" id="stars" ngModel />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</main>
