<!-- Just switch this to what you want to display -->
<!-- Section 1 -->
<!-- <app-movie-display></app-movie-display> -->
<!-- <app-rental-cart></app-rental-cart> -->

<!-- Section 2 -->
<!-- <app-parent></app-parent> -->

<!-- Section 3 -->
<!-- <my-directive-e1></my-directive-e1> -->
<!-- <my-directive-e2></my-directive-e2> -->
<!-- <my-pipes-e3></my-pipes-e3> -->

<!-- Section 4 -->
<!-- <my-s4-exercise1></my-s4-exercise1> -->
<!-- <my-s4-exercise2></my-s4-exercise2> -->
<!-- <my-s4-exercise3></my-s4-exercise3> -->

<!-- Section 5 -->
<!-- <my-tab-selector></my-tab-selector> -->

<!-- Section 6 -->

<!-- Section 7 -->
<!-- <my-s7-forms></my-s7-forms> -->

<!-- Section 8 -->
<my-s8-configuration></my-s8-configuration>
