<main class="routerArea">
  <h1>Flopchooser</h1>

  <main>
    <p>Which movie has a lower IMDB rating?</p>
    <p [hidden]="!hasChosen">
      <span [hidden]="!isCorrect" style="font-size: 2rem">Correct!</span>
      <span [hidden]="isCorrect" style="color: red; font-size: 2rem"
        >Incorrect!</span
      >
    </p>
    <button
      [hidden]="!hasChosen"
      class="btn btn-primary"
      (click)="onPlayAgainClick()"
    >
      Play Again
    </button>
  </main>

  <section>
    <my-e2-movie-selector
      (select)="onFirstSelected()"
      [movie]="flops.first"
    ></my-e2-movie-selector>
    <my-e2-movie-selector
      (select)="onSecondSelected()"
      [movie]="flops.second"
    ></my-e2-movie-selector>
  </section>
</main>
